.sider {
  height: 100%;
  flex: 0 0 188px;
  min-width: 188px;
  max-width: 188px;
  background-color: var(--sider-bg);
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-shadow: 2px 0 6px var(--shadow-color);
  border-right: 1px solid var(--sider-border-right);

  .header {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 4px 10px;
    border-bottom: 1px solid var(--sider-border-right);
  }

  .menu {
    margin-top: 4px;
    flex: 1;
    width: 100%;
    overflow-y: auto;
  }
}

